{{#each albums as |album|}}


 <!-- Developers, why are we using data-id and not just id? -->
<div>
  <u1 data-id="{{album.id}}">
    <li><b>Album Title:</b> {{album.title}}</li>
    <li>{{#if album.artist_name}}
      <b>Artist:</b> {{album.artist_name}}
    {{else}}
      <b>Artist:</b> No Description.
    {{/if}}</li>
    <li>{{#if album.year_released}}
      <b>Year Released:</b> {{album.year_released}}
    {{else}}
      <b>Year Released:</b> No Description.
    {{/if}}</li>
    <li>{{#if album.format}}
      <b>Format:</b> {{album.format}}
    {{else}}
      <b>Format:</b> No Description.
    {{/if}}</li>
    <li>{{#if album.catalog_number}}
      <b>Catalog Number:</b> {{album.catalog_number}}
    {{else}}
      <b>Catalog Number:</b> No Description.
    {{/if}}</li>
    <br>
    <br>
  </ul>
 </div>

{{/each}}
